<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Hello World, AngularJS - ViralPatel.net</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
</head>
<body>
    <p>Write some text in textbox:</p>
    <input type="text" ng-model="JS" />
    <h1 ng-show = "JS"> Hello {{JS}}</h1>

</body>
</html>