body {
    padding: 20px;
    text-align: center;
    background-size:100% auto;
}

.card{
    width:60px;
    height:80px;
    border:1px solid #151718;
    float:left;

    margin-bottom:5px;
    border-radius:2px;
    font-family: "Arial";
    background-color: white;
    border-radius: 3px;

}
span.number, span.suit{
    width:100%;
    display:block;
    text-align:center;
    padding-top:8px;
}
h1 {
    text-decoration: blink;
    color: red;
    font-family: SignPainter;
    font-size: 60px;
}
.card:hover {
    width:100px;
    height:120px;
    border:2px solid #151718;
    margin-bottom:5px;
    border-radius:2px;
    font-family: "Arial";
    border-radius: 5px;
    font-size: 30px;
}

button {
    display:block;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 5px;

}
p {
    font-size: 20px;
    color: red;

}